#root{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: white;

}

.dashboard-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    padding: 20px;
    gap: 20px;
    box-sizing: border-box;
    width: 100%;
    padding: 20px;
    font-family: Arial, sans-serif;
}


.welcome-section{
    text-align: center;
    padding: 10px;
    background-color: #f8f8f8;
    border-radius: 8px;
    width: 90%;
    margin: 0 auto;
}

.calendar-addTask{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  flex-wrap: nowrap;
  background-color: rgb(217, 216, 215);
  padding: 20px;
  border-radius: 8px;
  width: 100%;
  box-sizing: border-box;
}

.calendar-addTask > *{
    flex: 1;
    min-width: 300px;
}


.task-display-container{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    
    gap: 15px;
    margin-top: 20px;
    width: 100%;
}

.task-display-container > div {
    width:100%;
    max-width: 350px;
  }







.task-form {
    background: #fff;
    display: flex;
    gap: 10px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
  }
  

  




